body{
    background: grey url(imgs/mosaico.jpg) repeat;
       
}

#container {
    display: block;
    height: 800px;
    margin: 80px 130px; /*duas medidas significa que é TOP e LATERAIS */
    border-radius: 18px;
    background-color: darkblue;
    opacity: 0.90;
    /* padding: 12px; */
    overflow: hidden;
    
}

#topo {
    display: block;
    height: 120px;
    width: 100%;
    background: linear-gradient(180deg, white, lightgray, grey);
    text-align: center;
    padding: 12px;
            
}


#left {
    display: block;
    width: 30%;
    background-color: black;
    color: white;
    height: 580px; /* podia usar XX% */
    float: left;
}

#right {
    display: block;
    width: 70%;
    background-color: green;
    height: 580px; /* podia usar XX% */
    float: right;
}

#bottom {
    display: block;
    width: 100%;
    background-color: orange;
    height: 100px; 
    float: none;
    clear: both;   
}

/*
#right img {
    height: 35%;
    width: 35%;
    
} */

#mario1 {
    width: 200px;
    position: relative;
    z-index: 2;
    
}

#mario2 {
    width: 200px;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 1;
        
}

#topo h1 {
    font-size: 3em;
    margin-top: 5px;
    font-family: xpto;
       
}

@font-face {
    font-family: 'xpto';
    src: url('fonts/greatvibes-regular-webfont.woff2') format('woff2'),
         url('fonts/greatvibes-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

tr {
    height: 60px;    
}
input {
    width: 100%
    
}