

.topRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.midRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.botRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}


#txtTit{
    height: 100px;
    width: 450px;
    background-color: lightcoral;
}

#txtPont{
    height: 100px;
    width: 150px;
    background-color: red; 
    
}

.topEd {
    margin: 12px;
    padding: 12px;
}
.midEd{
    height: 400px;
    width: 30%;
    padding: 12px;
    margin: 12px;
    background: lightblue;

}

.imgMid{
    height: 200px;
    width: 250px;
    padding: 5px;
    margin: 12px;
    /*align-self: center;*/
    
}
.botEd{
    height: 100px;
    width: 150px;
    background-color: red; 
}

/*botstrap classes*/

.wrapper {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn {
  position: relative;
  display: inline-block;
  letter-spacing: 1.2px;
  padding: 12px 32px;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.btn--primary {
  color: lightslategray;
}
.btn--border {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  box-sizing: border-box;
}
.btn--animated {
  transition-property: color;
  transition-duration: 0.5s;
}
.btn--animated.btn--border.btn--primary {
  border: 1px solid lightslategray;
}
.btn--animated:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: lightslategray;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  z-index: -1;
}
.btn--animated:hover {
  color: white;
}
.btn--animated:hover:before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
}



